 /* Custom styles */
    body {
      padding-top: 50px;
    }

    .navbar {
      background-color: #f8f9fa;
    }

    .jumbotron {
      background-color: #f8f9fa;
    }

    .product-card {
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }