<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{css/admin/adminstyle.css}">
<title>Admin Panel</title>
</head>
<body>

    <div class="login">
  <h1>Admin Panel</h1>
    <form action="checkslogin" method="post">
      <input type="text" name="username" id="username" placeholder="Username" required="required" />
        <input type="password" name="password" id="password" placeholder="Password" required="required" />
        <button onclick="saveCredentials()" type="submit" class="btn btn-primary btn-block btn-large"> Login </button>
    </form>
        <script th:src="@{/js/adminlc.js}"></script>
        <br>
     <a type="button" class="btn btn-primary btn-block btn-large" th:href="@{adminreg}">Register</a>
</div>
</body>
</html>