<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electronics</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/assets/css/templatemo-sixteen.css}">
    <link rel="stylesheet" th:href="@{/css/assets/css/owl.css}">

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/css/assets/js/custom.js"></script>
    <script src="/css/assets/js/owl.js"></script>
    <script src="/css/assets/js/slick.js"></script>
    <script src="/css/assets/js/isotope.js"></script>
    <script src="/css/assets/js/accordions.js"></script>

    <script src="/js/script.js" type="text/javascript"></script>
</head>

<style>
    body {
        margin: 5%;
        background-image: url('/assets/images/41.avif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    .btn {
        float: right;
    }
</style>

<body>
    <table>
        <tr th:each="key : ${product}">
            <td>
                <a href="#" data-toggle="modal" th:data-target="'#exampleModal1-' + ${key.id}" class="btn float-left">
                    <img th:src="'/' + ${key.product}" alt="" width="350px" height="100%">
                </a><br>
                <h1><u th:text="${key.title}"></u></h1><br>
                <h3>price: &#8377;<span th:text="${key.price}"></span></h3><br>
                <h4>
                    <h4 style="width: 50%">description:</h4>
                    <span th:text="${key.description}"></span>
                </h4><br>
                <br><br><br>
                <br>
                <br><br><br><br>
                <hr>
                <a href="#" data-toggle="modal" th:data-target="'#exampleModal2-' + ${key.id}"
                    class="btn float-right btn-sm">
                    <button class="btn btn-warning btn-sm">Add to cart</button>
                </a>
            </td>
        </tr>
    </table>

    <div th:each="key : ${product}">
        <div class="modal fade" th:id="'exampleModal1-' + ${key.id}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${key.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img th:src="'/' + ${key.product}" alt="" width="80%" height="80%">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" th:id="'exampleModal2-' + ${key.id}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                            <span style="color:rgb(164, 160, 160)">ADD TO CART</span>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/display" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <div class="form-group">
                                <h3><u th:text="${key.title}"></u></h3>
                                <img class="image" th:src="'/' + ${key.product}" width="150px"><br>
                                <hr>
                                <input type="hidden" name="id" th:value="${key.id}" />
                                <input type="hidden" name="title" th:value="${key.title}" />
                                <input type="hidden" name="price" th:value="${key.price}" />
                                <input type="hidden" name="image" th:value="${key.product}" />

                                <h5> Price: <span id="PRiceQTY" th:text="${key.price}"></span></h5>
                                <h6>Quantity:</h6>
                                <td class="cart-product-quantity" width="130px">
                                    <div class="input-group quantity">
                                        <div class="input-group-prepend decrement-btn" style="cursor: pointer">
                                            <span class="input-group-text">-</span>
                                        </div>
                                        <input style="text-align: center" type="text" class="qty-input"
                                            name="quantity" maxlength="2" max="10" value="1" id="qt">
                                        <div class="input-group-append increment-btn" style="cursor: pointer">
                                            <span class="input-group-text">+</span>
                                        </div>
                                    </div>
                                </td>

                                <script th:inline="javascript">
                                    $(document).ready(function () {
                                        $('.increment-btn').click(function (e) {
                                            e.preventDefault();
                                            var incre_value = $(this).parents('.quantity').find('.qty-input').val();
                                            var value = parseInt(incre_value, 10);
                                            value = isNaN(value) ? 0 : value;
                                            if (value < 10) {
                                                value++;
                                                $(this).parents('.quantity').find('.qty-input').val(value);
                                            }
                                            $("#PRiceQTY").text($("#PriceID").val() * $("#qt").val());
                                        });

                                        $('.decrement-btn').click(function (e) {
                                            e.preventDefault();
                                            var decre_value = $(this).parents('.quantity').find('.qty-input').val();
                                            var value = parseInt(decre_value, 10);
                                            value = isNaN(value) ? 0 : value;
                                            if (value > 1) {
                                                value--;
                                                $(this).parents('.quantity').find('.qty-input').val(value);
                                            }
                                            $("#PRiceQTY").text($("#PriceID").val() * $("#qt").val());
                                        });
                                    });
                                </script>

                                <div class="modal-footer">
                                    <button type="submit" name="submit" class="btn btn-info">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
